body {
    font-family: 'Noto Serif JP', serif;
    background-color: #C3C7CA;
    color: #353535;
}

.page-header {
    background-color: #fe646d;
    padding: 30px 20px 20px 20px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 16pt;
    text-decoration: none;
}

.page_title {
    display:inline-block;
    margin: 0 auto;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}
h2, h3, h4 {
    font-family: 'Noto Serif JP', serif;
}
h2 {
    font-size: 16pt;
}

.date {
    font-size: 9pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.post {
    background-color: #31A2C4;
}
.post_s {
    padding: 20px 20px 20px 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.main_box {
    background-color: #fed100;
    width: 100%;
    color: #353535;
    line-height: 200%;
    font-size: 16pt;
    padding: 20px 20px 20px 20px;
}

.main_box2 {
    background-color: #535d5d;
    width: 100%;
    font-size: 22pt;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.main_box2 a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
}

div:nth-child(2n+1) > .mid_box {
  background-color: #5d93c1;
  width: auto;
  color: #353535;
  padding: 20px 20px 20px 20px;
}
div:nth-child(2n) > .mid_box {
  background-color: #6ea5d3;
  width: auto;
  color: #353535;
  padding: 20px 20px 20px 20px;
}

.b_style {
    background-color: #91bea3;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
}

.post-form input {
    border:0;
    padding:6px;
    font-size:16px;
    font-family: 'Noto Serif JP', serif !important;
    color:#353535;
    border:solid 1px #ccc;
    margin:0 0 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#id_title {
    border:0;
    padding:6px;
    font-size:16px;
    font-family: 'Noto Serif JP', serif !important;
    color:#353535;
    border:solid 1px #ccc;
    margin:0 0 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    background-color: #FFFFFF;
}

#id_challenger {
    border:0;
    padding:6px;
    font-size:16px;
    font-family: 'Noto Serif JP', serif !important;
    color:#353535;
    border:solid 1px #ccc;
    margin:0 0 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    background-color: #FFFFFF;
}



a {
    color: #3e5159;
    text-decoration: none;
    background-color: transparent;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

p {
    margin-bottom: 0px !important;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    margin-bottom:  0px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
